@model IEnumerable<EmployeeApplication.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h4> Registre des employés </h4>

<p>
    <a asp-action="Create">Ajouter Employee </a>
</p>
@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prenom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateNaissance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telephone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adresse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sexe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateEmbauché)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoldeCongé)
                </th>
                <th class="center">
                    <a asp-action="Create" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Employee</a>
                </th>

            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Cin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateNaissance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEmbauché)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoldeCongé)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEmployee"> Modifier </a>
                    <a asp-action="Details" asp-route-id="@item.IdEmployee">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdEmployee" > Supprimer</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">liste des employées </h4>
                        </li>
                  
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Employees</a>
                        </li>
                        <li class="breadcrumb-item active">liste des employées </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Tous les employées</strong> 
                        </h2>
                        @*<ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" class="dropdown-toggle"
                                   data-bs-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu float-end">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Une Autre Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>*@
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover js-basic-example contact_list">
                                <thead>
                                    <tr>
                                        <th class="center">Image</th>
                                        <th class="center">Cin</th>
                                        <th class="center"> Nom </th>
                                        <th class="center"> Prenom </th>
                                        <th class="center"> Telephone </th>
                                        <th class="center"> Date De Naissance </th>
                                        <th class="center"> Sexe </th>
                                        <th class="center"> Adresse</th>

                                        <th class="center"> Email </th>
                                        <th class="center"> Date Embauche </th>
                                        <th class="center"> Solde Congés </th>

                                        <th class="center"> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        var photoPath = "http://localhost:52779/images/" + (item.Image ?? "7c155925-773a-4ef4-bbf2-e28e1e84df5a_téléchargement.png");
                                        <tr class="odd gradeX">
                                            <td class="table-img center">
                                                <img src="@photoPath" asp-append-version="true" alt="test">
                                            </td>
                                            <td class="center">  @Html.DisplayFor(modelItem => item.Cin)</td>
                                            <td class="center">  @Html.DisplayFor(modelItem => item.Nom)</td>
                                            <td class="center">  @Html.DisplayFor(modelItem => item.Prenom)</td>
                                            <td class="center"> @Html.DisplayFor(modelItem => item.Telephone)</td>
                                            <td class="center">  @Html.DisplayFor(modelItem => item.DateNaissance)</td>

                                            <td class="center">  @Html.DisplayFor(modelItem => item.Sexe) </td>

                                            <td class="center"> @Html.DisplayFor(modelItem => item.Adresse)</td>
                                            <td class="center">  @Html.DisplayFor(modelItem => item.Email)</td>
                                            <td class="center">  @Html.DisplayFor(modelItem => item.DateEmbauché)</td>
                                            <td class="center">
                                                @Html.DisplayFor(modelItem => item.SoldeCongé)
                                            </td>
                                            <td class="center">
                                                <a asp-action="Edit" asp-route-id="@item.IdEmployee" class="btn btn-tbl-edit">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <br /> 
                                                <a asp-action="Details" asp-route-id="@item.IdEmployee" class="ti-id-badge
">
                                                    <i class="material-icons">fiche </i>
                                                </a>
                                                <a asp-action="Delete" asp-route-id="@item.IdEmployee" class="btn btn-tbl-delete">
                                                    <i class="material-icons">delete_forever</i>
                                                </a>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                                @*<a href="../Views/Employee/edit-employee.html" class="btn btn-tbl-edit">
            <i class="material-icons">create</i>
        </a>
        <a href="#" class="btn btn-tbl-delete">
            <i class="material-icons">delete_forever</i>
        </a>*@  @*<a href="../Views/Employee/edit-employee.html" class="btn btn-tbl-edit">
            <i class="material-icons">create</i>
        </a>
        <a href="#" class="btn btn-tbl-delete">
            <i class="material-icons">delete_forever</i>
        </a>*@
                            @*<tfoot>
        <tr>
            <th class="center"></th>
            <th class="center"> Name </th>
            <th class="center"> Designation </th>
            <th class="center"> Mobile </th>
            <th class="center"> Email </th>
            <th class="center"> Address </th>
            <th class="center">Joining Date</th>
            <th class="center"> Action </th>
        </tr>
    </tfoot>*@
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>